.idea/
node_modules/
yarn.lock
package-lock.json
.*
tests/snapshots/__diff__/
tests/snapshots/__updated__/
!.csscomb.json
!.gitignore
!.gitattributes
!.hound.yml
!.scss-lint.yml
!.stylelintignore
!.stylelintrc.json